.about-section{
    position: relative;
    
   .img-wrap{
     margin: 2rem auto;
     text-align: center;
    img{
    width: 95%;
     margin: auto;
      position: relative;
      margin-top: -3rem;
     //  z-index: 2;
      transition: transform 0.8s ease-in-out;
  }
  }
}
@media screen and (max-width:991px){
  .about-section .img-wrap img{
    width: 70%;
  }
}

@media screen and (max-width:768px){
  .about-section .img-wrap img{
    width: 70%;
  }
}

@media screen and (max-width:420px){
  .about-section{
    .img-wrap img{
      width: 95%;
    }
 
   .bg-wrap{
    background: none;
     background-size: 135%;
     background-repeat: no-repeat;
     background-position-x: 135%;
     background-position-y: 5%;
     background-attachment: fixed;
   }
  }
}
