.client-section{
    position: relative;
.client-bg{
    width: 85%;
    margin: auto;
}
.client-bg-wrap{
    text-align: center;
    margin: 2rem auto;
}
.client-box{
    height: 100px;
    margin: 5px auto ;
    max-width:300px;
    /* border: #10101096 1px solid; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 1rem;
   box-sizing: border-box;
}
.client-box img{
    width:100px;
    // filter: grayscale(1);
    transition: all 0.3s ease-in;
    cursor: pointer;
}
// .client-box img:hover{
//     filter: grayscale(0);
// }
.clients{
    padding: 50px 50px;
    background: #101010;
    margin-top: -80px;
}

}
@media screen and (max-width:991px){
    .client-section{
        .client-bg{
            width: 70%;
        }
        .client-box img{
            width:67%;
           
        }
    }
}
@media screen and (max-width:768px){
    .client-section{
        .client-bg{
            width: 70%;
        }
        .client-box img{
            width:65%;
            margin: 2rem auto;
        }
    }
}
@media screen and (max-width:420px){
    .client-section{
        .clients{
            padding: 25px 0px;
            margin-top: 35px;
        }
        .client-box{
           width: 50%;
        }
        .client-bg{
            width: 95%;
        }
    }
  
}