.tech-section{
    position: relative;
  .tech-bg{
    width: 100%;
    margin: 0 auto;
  }
  .content p{
    margin-bottom: 2rem;
  }
  // .section-head  , .content p{
  //   mix-blend-mode: difference;
  //   color:#f6c015;
  // }
  .expand{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background: #afae98;
    z-index: 1;
    transition: transform 0.6s ease-in;
    border-radius: 50%;
  }

  .bg3{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../assets/img/tech-bg.png');
    background-size: 23%;
    background-repeat: no-repeat;
    background-position-x: -8%;
    background-position-y: 65%;
}
.bg4{
  position: absolute;
  height: 150%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('../assets/img/bg3.png');
  background-repeat: no-repeat;
  background-position-x: 110%;
  background-position-y: 75%;
  background-size: 32%;
  z-index: 1;
  pointer-events: none;
}

}


.tech-box{
  position: relative !important;
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 300px;
  border-radius: 5px;
  background: #222;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  min-height: 120px;
  overflow: hidden;
  z-index: 2 !important;
  
 cursor: pointer;
 transition: all ease-in 0.4s;
}

.tech-box:hover{
  transform: translateY(-8px);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.75);
.expand{transform: scale(50);}
.tech-content h6{
  color: #f6c015;
}
.tech-img{
  filter: grayscale(0);
}
}

.tech-content h6{
  position: relative;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: -1px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  display: none;
}
.tech-img {
  width: 90%;
  margin:0.2rem auto;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:1024px){
  .tech-section{
    .bg3{
      background-size: 31%;
    background-repeat: no-repeat;
    background-position-x: -7%;
    background-position-y: 90%;
    }
    .bg4{
      background-size: 40%;
    }
  }
}
@media screen and (max-width:768px){
  .tech-section{
    
    .bg3{
    background-size: 48%;
    background-repeat: no-repeat;
    background-position-x: 125%;
    background-position-y: 21%;
    opacity: 0.4;
    }
    .bg4{
    background-repeat: no-repeat;
    background-position-x: -17%;
    background-position-y: 72%;
    background-size: 53%;
    }
    .tech-box{
      max-width: 200px;
    }
  }
}

@media screen and (max-width:521px){
  .tech-section{
  .bg-wrap {
    background: none;
   }
   .tech-img {
    width: 85%;
    margin: 0 auto;
    }
    .tech-box{
     min-height: 135px;
     min-width: 120px;
     max-width: 200px;
     padding: 0.5rem;
    }
    .bg3{
      background-size: 79%;
    background-position-x: 208%;
    background-position-y: 31%;
    }
    .bg4 {
      background-position-x: -65%;
      background-position-y: 69%;
      background-size: 81%;
  }
  }
 
}

